<h3>Statistics for <%= @bot.name %></h3><br>

<% if @bot_instances.present? && @bot_instance.present? %>
  <ul class="nav nav-tabs">
    <% @bot_instances.each do |instance| %>
      <li class="<%= 'active' if @bot_instance.id == instance.id %>">
        <% instance_name = instance.location %>
        <% instance_name += '&nbsp;<span class="label label-primary">Standby</span>' if instance != instance.bot.preferred_instance %>
        <%= link_to instance_name.html_safe, url_for(controller: :bots, action: :show, instance: instance.id) %>
      </li>
    <% end %>
  </ul>
  <br>

  <%= line_chart [
        { name: 'Pings sent', data: @statistics.group_by_hour(:created_at, range: 7.days.ago.to_date..Time.now).sum(:pings_sent) }
      ], colors: ['#76ADE1'] %>

  <%= line_chart [
        { name: 'Quota remaining', data:  @statistics.where(created_at: 3.days.ago.to_date..Time.now).where.not(api_quota: -1)
                                                     .select(:created_at, :api_quota).map { |s| [s.created_at, s.api_quota] }.to_h }
      ], colors: ['#e0a976'] %>

<br>
<table class="table">
  <thead>
    <tr>
      <th>Pings sent</th>
      <th>API quota</th>
      <th>At</th>
    </tr>
  </thead>

  <tbody>
    <% @statistics.order(Arel.sql('created_at DESC')).each do |statistic| %>
      <tr>
        <td><%= statistic.pings_sent %></td>
        <td><%= statistic.api_quota %></td>
        <td title="<%= statistic.created_at %>"><%= time_ago_in_words statistic.created_at %> ago</td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= will_paginate @statistics, renderer: BootstrapPagination::Rails %>
</div>

<% else %>
  This bot has no active instances
<% end %>
